<div class="row" style="margin-top: 10px;">
  <div class="col-sm-12">
    <div class="field">
      <%= render 'projects'%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="field">
      <%= render 'columns'%>
    </div>
  </div>
</div>