<% if defined? object%>
    <% if object.errors.any? %>
        <div class="error-title">
        <i class="fa fa-ban"></i>
        <b><%= pluralize(object.errors.count, "Error") %>: </b>
        </div>
        <div class="error-body">
        <ul>
        <% object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
        </div>
    <% end %>
<%end%>